* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #c5af99;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    position: relative;
}

header img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
}

/* Capa de degradado */
header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(
        to bottom,
        rgba(197, 175, 153, 0),
        #c5af99
    );
}


h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #736342;
    font-size: 
}


.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;

    max-width: 700px;   /* AJUSTA este valor */
    margin: 0 auto;     /* centra el grid */
}


@media (max-width: 600px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .productos-grid {
        grid-template-columns: 1fr;
    }
}



.producto {
    background: white;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    height: 110px;
    object-fit: contain;
    background: #e7dacf;
    padding: 8px;
    border-radius: 10px;
}


.producto h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.producto p {
    font-size: 14px;
    margin-bottom: 10px;
}

.producto button {
    background: #efecaf;
    border: none;
    color: rgb(227, 133, 10);
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

.producto button:hover {
    background: #e3a7cf;
}

/*Para que el carrito no se vea feo*/

#listaCarrito div {
    display: flex;
    justify-content: space-between;
    background: white;
    margin: 5px auto;
    padding: 6px 10px;
    border-radius: 6px;
    max-width: 400px;
}

#listaCarrito button {
    background: none;
    border: none;
    cursor: pointer;
}

.form-pedido {
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-pedido input,
.form-pedido textarea {
    padding: 10px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.form-pedido textarea {
    resize: none;
    height: 60px;
}

.form-pedido button {
    background: #736342;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.form-pedido button:hover {
    background: #5f5237;
}



#openWeb {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #e6196e;
    color: white;
}

#finalizarPedido {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background: #efecaf;
    color: rgb(227, 133, 10);
})